<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>ng-click</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="_css/style.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="_js/angular.min.js"></script>
    <script type="text/javascript" src="_js/script.js"></script>
  </head>
  <body ng-controller="ctrl">

    <div class="jumbotron">
      <table class="table table-striped">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Idade</th>
            </tr>
          </thead>
          <tbody >
            <tr ng-repeat="pessoa in pessoas">
              <td>{{pessoa.nome}}</td>
              <td>{{pessoa.idade}}</td>
            </tr>
          </tbody>
      </table>
      <input type="text" class="form-control" ng-model="pessoa.nome" placeholder="Nome">
      <input type="text" class="form-control" ng-model="pessoa.idade" placeholder="Idade">
      <button type="button" class="btn btn-primary btn-block" ng-click="addPessoa(pessoa)" >Enviar</button>
    </div>

  </body>
</html>
